div.msg {
  background: #FFFFE0;
  border: 1px solid #E6DB55;
  border-radius: 4px;
  color: #454545;
  font-family: 'Arial','Helvetica',sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 15px 0;
  padding: 10px 0;
}

div.msg p {
  margin: 0;
  padding: 5px 15px;
  font-weight: bold;
  color: #000;
  font-family: arial;
}

div.msg.error {
  background: red;
}

div.msg.error p {
  margin: 0;
  padding: 5px 15px;
  font-weight: bold;
  color: #fff;
  font-family: arial;
}

table.vk select {
  width: 350px !important;
}

div.getpid {
  position: absolute;
  left: -30000px;
}

table.delp.widefat td {
  overflow: visible !important;
}

table.vkorders div.modal {
  display: none;
  background: #fff;
  width: 400px;
  position: absolute;
  z-index: 1;
  border: 5px solid #ccc;
  padding: 5px;
  padding-bottom: 30px;
}

table.vkorders div.modal span.close {
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
}

table.vkorders td {
  border-bottom: thin solid #ccc;
}

.foi {
  margin-left: 20px;
  margin-right: 20px;
}

.foi label {
  display: inline-block;
  margin-top: 10px;
  width: 140px;
  font-weight: bold;
}

.foi > p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.foi:last-child > p {
  border-bottom: 0;
}

td div.ai {
  left: 80px;
  position: absolute;
  top: 15px;
}

div.paging a {
  margin-left: 8px;
}

div.paging a.active,
div.paging a.disabled {
  color: #ccc;
  cursor: default;
}

div.paging {
  float: left;
  margin-top: 20px;
}

.ah {
  background: white;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: none;
}

.ah.active {
  display: block;
}

.ai {
  left: 45%;
  position: absolute;
  top: 45%;
}

.rb {
  border: 1px solid red !important;
}

div.msg {
  cursor: pointer;
}

td.pil.img img {
  max-width: 200px;
}

.mce-container.mce-menubar.mce-toolbar {
  display: none !important;
}

.proinfo {
  background: none repeat scroll 0 0 #ef672f;
  color: white;
  font-size: 15px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.proinfo a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  text-decoration: underline;
}

.proinfo a:hover {
  text-decoration: underline;
}

span.longdescnote {
  display: inline-block;
  background: #ef672f;
  padding: 5px;
  color: white;
  margin-top: 10px;
}

span.longdescnote a {
  color: white;
  text-decoration: underline;
}